@font-face {
  font-family: "SamsungFont";
  src: url("/fonts/samsung-one/SamsungOneArabic-400.woff2") format("woff2"),
    url("/fonts/samsung-one/SamsungOneArabic-400.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "SamsungFont", sans-serif;
  color: #000;
  background-color: #ffff;
}
/* ************************** */
.container {
  margin: 0 auto;
  max-width: 144rem;
}

/* **************************** */
.grid_item__center {
  display: grid;
  align-items: center;
  justify-items: center;
}

.heading_secondary {
  height: 5.6rem;
  padding: 0.4rem 0 1.2rem 0;
}
.heading_secondary img {
  height: 4rem;
}

/* ******************************* */

input {
  border: none;
  outline: none;
  font-family: inherit;
  background-color: #fff;
  font-size: 1.4rem;
}

.polygon {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 00%);
  color: #00000000;
  width: 0.8rem;
  height: 0.8rem;
}
.polygon_up {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  color: #00000000;
  width: 0.8rem;
  height: 0.8rem;
}
.polygon_grey {
  background-color: #8d8d8d;
}

.polygon_blue {
  background-color: #007aff;
  width: 0.7rem;
  height: 0.7rem;
}

.input {
  padding: 0.8rem 1.2rem;
}

.input_search {
  font-size: 1.4rem;
  line-height: 2.2rem;
  width: 24.9rem;
  height: 3.6rem;
}

.input_filter_boxes {
  padding: 0 20.5rem;
  display: grid;
  gap: 1.4rem;
  margin-bottom: 1.2rem;
  margin-top: 2.4rem;
}

.input_filters-box {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1.8rem;
}

.show_filters_box {
  width: 100%;
  display: grid;
  gap: 1.8rem;
}

.show_filters_paragraph {
  font-size: 1.8rem;
  font-weight: 700;
}

.show_filters {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}

.show_paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.show_filters span {
  height: 0.8rem;
  width: 0.8rem;
  z-index: 2;
}

.showed_filters {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  list-style: none;
  font-size: 1.2rem;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.showed_filters li {
  padding: 1.2rem 1.6rem;
  cursor: pointer;
  height: 4rem;
}
.showed_filters li:hover {
  background-color: #f3f3f3;
}

.results {
  padding: 0 20.8rem;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  width: 100%;
}

/* *********************** */

.products_section {
  background-color: #f8f8f8;
  padding-bottom: 4.8rem;
  padding-top: 2.4rem;
}

.products_box {
  padding: 0 19.7rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f8f8f8;
  gap: 1.6rem;
}

.product_outbox {
  max-width: 33.8rem;
  height: 100%;
  display: grid;
  gap: 1rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2.5rem 2.4rem;
}

.product_box {
  display: grid;
  gap: 1.6rem;
}

.product_img {
  /* figma settings 200px */
  max-width: 20rem;
  /* max-width: 100%; */
  align-self: center;
  justify-self: center;
  margin-top: 1.6rem;
}

.product_title {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
}

.product_specs_box {
  line-height: 1.8rem;
}
.product_specs_box p span {
  font-weight: 700;
  color: #000;
}

.product_price_box {
  display: flex;
  gap: 0.2rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.product_price_primary {
  font-size: 4rem;
}
.product_price_secondary {
  line-height: 1.6rem;
  text-align: right;
  align-self: center;
  font-size: 1.4rem;
  padding-top: 0.6rem;
}

.font_grey {
  color: #767676;
  font-size: 1.2rem;
}

.font_dark_grey {
  color: #555;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.class_box {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.classClip {
  font-size: 1.2rem;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  background-color: #009949;
  color: #fff;
  min-width: 4.9rem;
  min-height: 1.8rem;
  padding-left: 0.6rem;
  padding-top: 0.2rem;
  border-radius: 0.1rem;
}

button {
  font-family: inherit;
}

.btn {
  text-transform: uppercase;
  cursor: pointer;
  display: grid;
  gap: 1rem;
  padding: 1.1rem 4rem;
  border-radius: 2.4rem;
  /* width: min-content; */
  border: none;
  align-self: center;
  justify-self: center;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.15em;
  text-align: center;
  margin-top: 1rem;
  transition: opacity 0.3s;
  width: 70%;
}

.btn:hover {
  opacity: 0.9;
}

.btn_blue {
  color: #fff;
  background-color: #1428a0;
}
.btn_black {
  color: #fff;
  background-color: #000;
}

/* ********************************************** */

.show_more {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 2.4rem;
  display: flex;
  gap: 0.9rem;
  color: #007aff;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

/* ************************ */

@media (max-width: 76em) {
  html {
    font-size: 52.25%;
  }
}
@media (max-width: 64em) {
  .products_box {
    padding: 0 3.2rem;
  }
  .input_filters-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.8rem;
  }
  .input_filter_boxes,
  .results {
    padding: 0 3.8rem;
  }
}
@media (max-width: 48em) {
  .products_box {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .input_filters-box {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.8rem;
  }
}
@media (max-width: 35em) {
  .products_box {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
